fastapi
uvicorn[standard]
requests
PyMuPDF
sentence-transformers
numpy
scikit-learn
openai
pikepdf
python-docx
beautifulsoup4
markdown
python-pptx 
reportlab

pandas
openpyxl
google-generativeai
beautifulsoup4
markdown
python-pptx 
reportlab
fpdf
PyPDF2
